# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env
.env.local

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Django
db.sqlite3
/media/
*.log
*.pot
*.pyc
*.mo
staticfiles/

*.bin